Source: gluu-docs
Section: doc
Priority: optional
Maintainer: Adrian Alves <adrian@gluu.org>
Build-Depends: debhelper (>= 9.0.0),
Standards-Version: 3.9.5
Homepage: http://www.gluu.org
#Vcs-Git: git://git.debian.org/collab-maint/gluu-docs.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/gluu-docs.git;a=summary

Package: gluu-docs
Architecture: all
Depends: ${misc:Depends}
Description: Gluu documentation
 Gluu documents like install procedures
