Package: gluu-docs
Version: 0.1-1
Architecture: all
Maintainer: Adrian Alves <adrian@gluu.org>
Installed-Size: 19483
Section: unknown
Priority: optional
Homepage: http://www.gluu.org
Description: Gluu documentation
 Gluu documents like install procedures
